<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/app.css}">
</head>
<body>
<div class="wrap">
    <div class="topbar">
        <a th:href="@{/}">Home</a>
        <h1>Appointments</h1>
    </div>
    <div class="card">
        <a class="btn btn-success" th:href="@{/appointments/new}">Add</a>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Patient</th>
                <th>Room</th>
                <th>Dept</th>
                <th>Doc</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="a : ${appointments}">
                <td th:text="${a.id}"></td>
                <td th:text="${a.admissionDate}"></td>
                <td th:text="${a.patient.name}"></td>
                <td th:text="${a.room != null ? a.room.number : '-'}"></td>
                <td th:text="${a.department.name}"></td>
                <td th:text="${a.doctor != null ? a.doctor.name : '-'}"></td>
                <td>
                    <a th:href="@{/appointments/{id}/edit(id=${a.id})}">Edit</a>
                    <form style="display:inline" th:action="@{/appointments/{id}/delete(id=${a.id})}" method="post">
                        <button>Del</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>