<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/app.css}">
</head>
<body>
<div class="wrap">
    <div class="topbar">
        <a th:href="@{/}">Home</a>
        <h1>Patients</h1>
    </div>
    <div class="card">
        <a class="btn btn-success" th:href="@{/patients/new}">Add</a>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Dept</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="p : ${patients}">
                <td th:text="${p.id}"></td>
                <td th:text="${p.name}"></td>
                <td th:text="${p.phoneNumber}"></td>
                <td th:text="${p.department != null ? p.department.name : '-'}"></td>
                <td>
                    <a th:href="@{/patients/{id}/edit(id=${p.id})}">Edit</a>
                    <form style="display:inline" th:action="@{/patients/{id}/delete(id=${p.id})}" method="post">
                        <button>Del</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>