<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HMS</title>
    <link rel="stylesheet" th:href="@{/css/app.css}">
</head>
<body>
<div class="wrap">
    <div class="topbar">
        <h1>Hospital Management System</h1>
    </div>
    <div class="grid">
        <a th:href="@{/hospitals}" class="card-link">Hospitals</a>
        <a th:href="@{/departments}" class="card-link">Departments</a>
        <a th:href="@{/rooms}" class="card-link">Rooms</a>
        <a th:href="@{/patients}" class="card-link">Patients</a>
        <a th:href="@{/doctors}" class="card-link">Doctors</a>
        <a th:href="@{/nurses}" class="card-link">Nurses</a>
        <a th:href="@{/appointments}" class="card-link">Appointments</a>
        <a th:href="@{/medical-staff-appointments}" class="card-link">Staff Links</a>
    </div>
</div>
</body>
</html>